#content {
  	width: 400px;
	height: 200px;
	margin: 10px 5px;
}

#title-bar {
    background-color: lightblue;
    padding: 5px 2px;
    font-weight: bold;
    border-radius: 5px; 
    margin: 5px 0px 10px;
}

#icon {
    vertical-align: middle;
}